<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MahaRental_FIX"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Login.DaftarAkun"
            android:exported="false" />
        <activity
            android:name=".Login.LupaPassword"
            android:exported="false" />
        <activity
            android:name=".Login.TampilanAwal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".katalog.DetailKendaraanActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".fragment.PesanMobilActivity"
            android:exported="false" />

        <activity
            android:name=".Konfir_PesanMobilActivity"
            android:exported="false" />

    </application>

</manifest>